@page
@model Ejercicio7Model

<h1>Lista de alumnos</h1>

<ul>
    @foreach (var alumno in Model.Alumnos)
    {
        <li>
            @alumno.Nombre
            <form method="post" asp-page-handler="Borrar" style="display:inline;"> <!-- asp-page-handler="Borrar" asegura que se ejecuta la funcion OnPostBorrar-->
                <input type="hidden" name="id" value="@alumno.Id" />
                <button type="submit">Eliminar</button>
            </form>
        </li>
    }
</ul>

<h2>Registrar nuevo alumno</h2>
<form method="post">
    Nombre: <input type="text" name="nombre" required /> <br>
    Apellidos: <input type="text" name="apellidos" required /> <br>
    Email: <input type="email" name="email" required /> <br>
    Edad: <input type="number" name="edad" required /> <br>
    <button type="submit">Registrar</button>
</form>

@if (!string.IsNullOrEmpty(Model.Mensaje))
{
    <p>@Model.Mensaje</p>
}
