@page
@model Ejercicio9Model

<h1> Lista de la compra</h1>
@foreach(Producto producto in Model.productos){
    <li> 
        @producto.nombre

        <!-- ELIMINAR-->
             <a asp-page-handler="Borrar" asp-route-id="@producto.id">Eliminar</a>
        
        


    </li>
}

<h3> Añadir elemento</h3>
<form  method="post" asp-page-handler="Insertar">
    <input type="text" name="nombre" >
    <button type="submit">Añadir</button>
</form>

<form method="post" asp-page-handler="Vaciar">
    <button type="submit">Vaciar Lista</button>
</form>