@model MyAppMVC1.Models.Usuario
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Inicio de sesión exitoso";
}

<div class="alert alert-success mt-4">
    <h2>Bienvenido/a en sesion, @Accessor.HttpContext.Session.GetString("usuarioNombre")</h2>
    <h4> Tus datos: </h4>
    <p><strong>Nombre:</strong> @Model.nombre</p>
    <p><strong>Apellidos:</strong> @Model.apellidos</p>
    <p><strong>Email:</strong> @Model.email</p>
</div>
<a asp-controller="Home" asp-action="index"> Volver al inicio</a>